{% extends './base.html' %}

{% block content %}
<h1>Products by Category</h1>
<div class="row">
  {% for category in ecom %}
  <div class="col">
    <div class="card" style="width: 18rem;">
      <h1>list</h1>
      <a href="{% url 'ecom:ecom_details' category.id  %}">
        
      <img class="card-img-top" src="{{ category.image }}" alt="{{ category.name }}" style="width: 200px; height: 150px;">
      <div class="card-body">
        <h5 class="card-title">{{ category.name }}</h5>
        <p class="card-text">{{ category.price }}</p>
        <a href="#" class="btn btn-primary">Add</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
